.conta {
    font-family: bookman old style;
    font-size: 25px;
    padding-left: 50px;
    padding-top: 20px;
    color: white;
}

.contat1 {
    float: left;
    color: white;
}

.contat2 {
    float: right;
    color: white;
}

.table1 {
    padding-left: 50px;
    border-spacing: 30px;
}

.table2 {
    padding: 20px;
}

input[type=text],
input[type=email],
textarea {
    padding: 10px;
    width: 80%;
}

.btn1 {
    border: none;
    width: 100px;
    height: 40px;
    background-color: rgb(60, 179, 113);
}

label {
    padding: 5px;
    font-family: bookman old style;
}

.btn1 {
    width: 15%;
    padding: 10px 18px;
    background: rgb(60, 179, 113);
}

.link1 {
    text-decoration: none;
    color: black;
}