.imga {
    padding: 60px;
}

form {
    width: 30%;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    box-sizing: border-box;
}

button,
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 30%;
}

.btn {
    text-decoration: none;
}

.btn2 a {
    color: white;
}

a:hover {
    text-decoration: underline;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

span.pass {
    float: right;
    padding-top: 16px;
}